@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#pillars-section{
    /* Frame 2087325501 */
width: 1280px;
height: 324px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

margin: 80px 160px;


}
.pillars-header{
    /* Pillars of "Bangladesh 2.0" */
width: 1280px;
height: 48px;
color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
.Innovation{
    /* Frame 2087325495 */
width: 302px;
height: 244px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}
.Sustainability{
    /* Frame 2087325496 */
width: 302px;
height: 244px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}

.Infrastructure{
    /* Frame 2087325497 */
width: 302px;
height: 244px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}

.Empowerment{
    /* Frame 2087325498 */
width: 302px;
height: 244px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);

}

.pillars{
    display: flex;
    gap: 96px;

}

.pillars-desc{
    /* Dolor sit amet consectetur elit. Facilis quas, ducimus labore sequi quos */
width: 254px;
height: 72px;
color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.pillars-title{
    /* Sustainability */
width: 254px;
height: 24px;
color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
margin-top: 24px;
margin-bottom: 12px;
}
